#root {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-image: url('/background.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

:target {
  scroll-margin-top: 12vh;
}